<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>CRD Bicycle Count - About</title>
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
    <link href={{ url_for( 'static', filename='main.css' ) }} rel="stylesheet" media="screen,print">
</head>

<body>
    <div id="container">
        <div id="title" class="datatable"><img src={{ url_for( 'static', filename='crd-logo-text.png' ) }} class='logo' />
            <h1>CRD Bicycle Count</h1>
        </div>
    <h1>About</h1>
    <p>
        The CRD with the assistance of community volunteers has been counting bicycle volumes throughout the region since 2011.
        These counts are performed at screenlines. All cyclist are counted, therefore a bicycle with a parent and child would count at two cyclists.

	</p>
	<p>
		Counts are performed in the AM peak (7-9am) and PM peak (3-6pm). Caution should be exercised in doing year over year comparisons as the values presented are point in time volumes and are not annualized.

	</p>
	<p>
		Peak hour is the maximum number of cyclist in an hour through a screenline in either the AM or PM.
	</p>
    <p>
        This data may only be used under the terms of the Open Government License - Capital Regional District. You are encouraged to contact the data custodian(regionalplanning@crd.bc.ca) if you have any questions regarding fitness for use.	
	</p>
	<p>
		<a href="https://www.crd.bc.ca/copyright-disclaimer-privacy">Disclaimer</a>
	</p>
<h1>Attribution</h1>
<p>Capital Regional District - Regional Bicycle Count</p>
 
<div id="licence">
				

<h1>Open Government Licence - Capital Regional District</h1>
<p><strong>Note: The following licence only applies to explicitly stated records, otherwise see <a href="https://www.crd.bc.ca/copyright-disclaimer-privacy">CRD copyright.</a></strong></p>
		
<p>You are encouraged to use the Information that is available under this licence with only a few conditions.</p>

<h2>Using Information under this licence</h2>

<ol>
	<li>Use of any Information indicates your acceptance of the terms below.</li>
	<li>The Information Provider grants you a worldwide, royalty-free, perpetual, non-exclusive licence&nbsp;to use the Information, including for commercial purposes, subject to the terms below.</li>
</ol>

<p><strong>You are free to:</strong></p>

<ol start="3">
	<li>Copy, modify, publish, translate, adapt, distribute or otherwise use the Information in any medium, mode or format for any lawful purpose.</li>
</ol>

<p><strong>You must, where you do any of the above:</strong></p>

<ol start="4">
	<li>Acknowledge the source of the Information by including any attribution statement specified by the Information Provider(s) and, where possible, provide a link to this licence.</li>
</ol>

<p style="margin-left:40px">If the Information Provider does not provide a specific attribution statement, or if you are using Information from several Information Providers and multiple attributions are not practical for your product or application, you must use the following attribution statement:</p>

<p style="margin-left:40px">Contains information licensed under the Open Government Licence – Capital Regional District.</p>

<ol start="5">
	<li>The terms of this licence are important, and if you fail to comply with any of them, the rights granted to you under this licence, or any similar licence granted by the Information Provider, will end automatically.</li>
</ol>

<p><strong>Exemptions</strong></p>

<ol start="6">
	<li>This licence does not grant you any right to use:
	<ol start="1" style="list-style-type:lower-alpha">
		<li>Personal Information;</li>
		<li>Information or Records not accessible under the Freedom of Information and Protection of Privacy Act (B.C.);</li>
		<li>third party rights the Information Provider is not authorized to licence;</li>
		<li>the names, crests, logos, or other official marks of the Information Provider; and</li>
		<li>Information subject to other intellectual property rights, including patents, trade-marks and official marks.</li>
	</ol>
	</li>
</ol>

<p><strong>Non-endorsement</strong></p>

<ol start="7">
	<li>This licence does not grant you any right to use the Information in a way that suggests any official status or that the Information Provider endorses you or your use of the Information.</li>
</ol>

<p><strong>No warranty</strong></p>

<ol start="8">
	<li>The Information is licensed “as is”, and the Information Provider excludes all representations, warranties, obligations, and liabilities, whether express or implied, to the maximum extent permitted by law.</li>
	<li>The Information Provider is not liable for any errors or omissions in the Information, and will not under any circumstances be liable for any direct, indirect, special, incidental, consequential, or other loss, injury or damage caused by its use or otherwise arising in connection with this licence or the Information, even if specifically advised of the possibility of such loss, injury or damage.</li>
</ol>

<p><strong>Governing Law</strong></p>

<ol start="10">
	<li>This licence is governed by the laws of the province of British Columbia and the applicable laws of Canada.</li>
	<li>Legal proceedings related to this licence&nbsp;may only be brought in the courts of British Columbia.</li>
</ol>

<p><strong>Definitions</strong></p>

<ol start="12">
	<li>In this licence, the terms below have the following meanings:</li>
</ol>

<p style="margin-left:40px"><strong>"Information"</strong></p>

<p style="margin-left:80px">means information resources or Records protected by copyright or other information or Records that is are offered for use under the terms of this licence.</p>

<p style="margin-left:40px"><strong>"Information Provider"</strong></p>

<p style="margin-left:80px">means Capital Regional District</p>

<p style="margin-left:40px"><strong>“Personal Information”</strong></p>

<p style="margin-left:80px">has the meaning set out in Schedule 1 of the Freedom of Information and Protection of Privacy Act (B.C.).</p>

<p style="margin-left:40px"><strong>“Records”</strong></p>

<p style="margin-left:80px">has the meaning set out in section 29 of the Interpretation Act (B.C.).</p>

<p style="margin-left:40px"><strong>"You"</strong></p>

<p style="margin-left:80px">means the natural or legal person, or body of persons corporate or incorporate, acquiring rights under this licence.</p>

<p><strong>Versioning</strong></p>

<ol start="13">
	<li>This is version 2.0 of the Open Government Licence for the Capital Regional District. The Information Provider may make changes to the terms of this licence from time to time and issue a new version of the licence. Your use of the Information will be governed by the terms of the licence in force as of the date you accessed the Information.</li>
</ol>

    </div>
</body>

</html>