<!DOCTYPE html>
<html lang="en">
<html>

<head>
    <meta charset='utf-8'>
    <title>Hourly Chart</title>
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
    <script src="/static/d3-tip.js"></script>
    
    <link href={{ url_for( 'static', filename='main.css' ) }} rel="stylesheet" media="screen,print">

</head>

<body>
    <div id="container">

        <div id="title" data-countID={{countID}}><img src={{ url_for( 'static', filename='crd-logo-text.png' ) }} class='logo' />
        </div>
        <div id="legend"></div>

        <div id="vis"></div>

        <div id="footer" class="no-print">
            <a class="button" href="/table/{{countID}}">table</a>
        </div>
    </div>

    <script src={{ url_for( 'static', filename='annualBarChart.js' ) }}></script>
</body>

</html>